#section1 img{
	left: 130%;
	position:relative;
}
#section1 p{
	visibility:hidden;
}
#section2 .intro{
	left: -130%;
	position:relative;
}

.section {
	z-index: 20;
	background-color: transparent !important;
}

.logo {
	width: 100%;
	float: right;
	margin-right: 20%;
	padding-bottom: 60px;
}

/* sloppy */
#sloppy {
	width: 100%;
	padding: 0;
	margin:0;
	top:0;
	left:0;
	position: relative;
}

.rightsloppy {  
	text-align:center;
	background: #ed4c2e;
	margin:0 -1910px;
	top:0;
	left:0;
	z-index: 1;
	position: absolute;
	width: 5500px;
	height: 150px;
	float: right;
}
.leftsloppy {
	text-align:center; 
	background: #ed4c2e;
	margin:0 -2815px;
	top:0;
	left:0;
	z-index: 1;
	position: fixed;
	width: 5500px;
	height: 450px;
	float: left;
}
/*
.leftloppy { 
	border:solid 0px #2d2d2d;  
	text-align:center; 
	background: #ed4c2e; 
	padding:1500px 50px 1500px 50px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	z-index: 1;
	position: fixed;
	width: 450px;
	margin: -60% 0 0 30%;
}
*/
.rightsloppy {
transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-webkit-transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-moz-transform: rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-o-transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-ms-transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
}
.leftsloppy {
transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-webkit-transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-moz-transform: rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-o-transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
-ms-transform:  rotate(45deg) scale(0.904) skew(1deg) translate(-3px);
}